<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button
    expand="block"
    color="secondary"
    href="/register"
    routerDirection="forward"
    >Register</ion-button
  >
</ion-content>
